<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_explora"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExploraMundo"
        tools:targetApi="31">

        <!-- Actividad Principal -->
        <activity
            android:name=".view.actividad.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ExploraMundo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad de Regiones -->
        <activity
            android:name=".view.actividad.RegionesActivity"
            android:exported="false"
            android:label="Regiones del Mundo"
            android:parentActivityName=".view.actividad.MainActivity" />

        <!-- Actividad de Lista de Países -->
        <activity
            android:name=".view.actividad.ListaPaisesActivity"
            android:exported="false"
            android:label="Países"
            android:parentActivityName=".view.actividad.RegionesActivity" />

        <!-- Actividad de Detalle de País -->
        <activity
            android:name=".view.actividad.DetallePaisActivity"
            android:exported="false"
            android:label="Detalles del País"
            android:parentActivityName=".view.actividad.ListaPaisesActivity" />

    </application>

</manifest>